.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
} 

#icon {
  display: center;
}

h1 {
  color: #c1ff72;
  background-color: black;
  text-align: center; 
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}


/* start flex containers */

div.flex-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
}

div.box {
  flex: 0 0 20%;
  flex basis: 250px;
  box-sizing: border-box;
  align-items: center;
}

div.box img {
  align-item: center;
}

div.box h4 {
  align-item: center;
}

/* On screens smaller than 600px, make items take the full width 
@media (max-width: 600px) {
  .flex-container .box {
    font-size: 12px;
    width: 100vw;
    justify-content: space-evenly;
    flex-wrap: no-wrap;
    flex: 0 0 20%;
  }
}
  */

/* end flex containers */

/* start video element */
.video-container video {
  width: 100%;
  height: auto; /* Height is calculated automatically */
  aspect-ratio: 16 / 9; /* Maintains a 16:9 aspect ratio */
  display: block; /* Ensures no extra spacing if it's an inline element */
  margin: 0; /* Removes any default margin */
  padding: 0; /* Removes any default padding */ /* Prevents video from scaling larger than its original size if desired */
  box-sizing: border-box; /* Ensures padding/border doesn't add to the width */
}

.video-container h4 {
  text-align: center;
}

/* end video element */

footer {
  text-align: right;
}

  

