.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
} 

#icon {
  display: center;
}

h1 {
  color: #c1ff72;
  background-color: black;
  text-align: center; 
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
	text-align: center;
	padding-top: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

video {
  width: 100%;
  height: auto; /* Height is calculated automatically */
  aspect-ratio: 16 / 9; /* Maintains a 16:9 aspect ratio */
  display: block; /* Ensures no extra spacing if it's an inline element */
  margin: 0; /* Removes any default margin */
  padding: 0; /* Removes any default padding */ /* Prevents video from scaling larger than its original size if desired */
  box-sizing: border-box; /* Ensures padding/border doesn't add to the width */
}

footer {
  text-align: right;
}
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }


  /* video element media breakpoints */
@media (max-width: 576px) {
  .video-container {
    width: 350px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .video-container {
    width: 500px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .video-container {
    width: 700px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .video-container {
    width: 100%;
  }
}

@media (min-width: 1441px) {
  .video-container {
    width: 110%;
  }
}
  /* video element media breakpoints end */

}