.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
} 

#icon {
  display: center;
}

h1 {
  color: #c1ff72;
  background-color: black;
  text-align: center; 
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}


/* start flex containers

.flex-container {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
}

.flex-container .box {
  flex: 0 0 25%;
}

.flex-container .box img {
  padding: 20px;
}

.flex-container .box h4 { 
  padding: 5px;
  text-align: center;
  font-size: 12px;
}


/* On screens smaller than 600px, make items take the full width */
@media (max-width: 600px) {
  .flex-item {
    flex: 100%; /* Shorthand for flex: 1 1 100%; */
  }
}

/* end flex containers */

.video-container video {
  width: 100%;
  height: auto; /* Height is calculated automatically */
  aspect-ratio: 16 / 9; /* Maintains a 16:9 aspect ratio */
  display: block; /* Ensures no extra spacing if it's an inline element */
  margin: 0; /* Removes any default margin */
  padding: 0; /* Removes any default padding */ /* Prevents video from scaling larger than its original size if desired */
  box-sizing: border-box; /* Ensures padding/border doesn't add to the width */
}

footer {
  text-align: right;
}

  

