.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
} 

#icon {
  display: center;
}

h1 {
  color: #c1ff72;
  background-color: black;
  text-align: center; 
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
	text-align: center;
	padding-top: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

video {
  display: block;
  max-width: 1200px;
}

footer {
  text-align: right;
}
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }

  @media (max-width: 768px) {
  video {
    padding-bottom: 75%; /* Adjust aspect ratio for smaller screens */
  }
}

@media (min-width: 769px) {
  video {
    padding-bottom: 56.25%; /* Standard 16:9 aspect ratio for larger screens */
  }
}