.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
} 

#icon {
  display: center;
}

h1 {
  color: #c1ff72;
  background-color: black;
  text-align: center; 
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
	text-align: center;
	padding-top: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

/* start flex containers

.item-wrapper .box {
    vertical-align: top;
    display: flex;
    justify-content: center;
    text-align: center;
}

.item-wrapper > img, h4 {
    margin: auto;
    display: block;
    justify-content: center;
    width: fit-content;
}

end flex containers */

.video-container video {
  width: 100%;
  height: auto; /* Height is calculated automatically */
  aspect-ratio: 16 / 9; /* Maintains a 16:9 aspect ratio */
  display: block; /* Ensures no extra spacing if it's an inline element */
  margin: 0; /* Removes any default margin */
  padding: 0; /* Removes any default padding */ /* Prevents video from scaling larger than its original size if desired */
  box-sizing: border-box; /* Ensures padding/border doesn't add to the width */
}

footer {
  text-align: right;
}

  

