.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
} 

#icon {
  display: block;
  width: 200px;
  height: auto;
}

h1 {
  color: #c1ff72;
  background-color: black;
  text-align: center; 
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}


/* start flex containers */

.flex-container {
  display: flex;
  max-width: 100%;
  justify-content: center;
  flex-wrap: no-wrap;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  flex: 1;
  max-width: 600px;
}

img {
  display: block;
  height: auto;
  width: 100%;
  margin-bottom: 5px;
  object-fit: contain;
}

/* end flex containers */

/* start video element */
.video-container video {
  width: 100%;
  height: auto; /* Height is calculated automatically */
  aspect-ratio: 16 / 9; /* Maintains a 16:9 aspect ratio */
  display: block; /* Ensures no extra spacing if it's an inline element */
  margin: 0; /* Removes any default margin */
  padding: 0; /* Removes any default padding */ /* Prevents video from scaling larger than its original size if desired */
  box-sizing: border-box; /* Ensures padding/border doesn't add to the width */
}

.video-container h4 {
  text-align: center;
}

/* end video element */

footer {
  text-align: right;
}

  

